* {
  font-family: "Stylish", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 400px;
  height: 160px;
  padding: 10px;
  background-color: #333;
}

#wizarmark {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  display: flex;
  gap: 5px;
}

#sidepanel_btn {
  color: gray;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#sidepanel_btn:hover {
  color: whitesmoke;
}

#close_btn {
  color: gray;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#close_btn:hover {
  color: red;
}

p {
  color: #35c9c9;
  margin-bottom: 10px;
  font-size: 20px;
  user-select: none;
}

#bookmarkForm {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  padding: 5px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #555;
  color: whitesmoke;
}

input[type="text"]:focus {
  outline: none;
}

#add_bookmark {
  align-self: flex-end;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #35c9c9;
  color: whitesmoke;
  border: none;
  font-size: 15px;
  letter-spacing: 2px;
  cursor: pointer;
}