* {
  font-family: "Stylish", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 400px;
  height: 300px;
  padding: 10px;
  background-color: #343a40;
}

#wizarmark {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#wizarmark div {
    display: flex;
    align-items: center;
}
#wizarmark .dropdown .dropdown-content {
  display: flex;
  flex-direction: column;
  top: 20%;
}

#wizarmark span {
    color: red;
    font-weight: 700;
    cursor: pointer;
}

#logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: yellow;
}

h1 {
  color: #35c9c9;
  margin-bottom: 10px;
  font-weight: 900;
}

#bookmarkForm {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  padding: 5px 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 7px;
  background-color: #adb5bd;
  font-weight: 400;
  color: black;
  transition: 0.5s ease all;
}

#title {
  text-transform: capitalize;
}

input[type="text"]:hover {
  background-color: white;
}

#add_bookmark {
  width: 40%;
  padding: 7px 15px;
  border-radius: 7px;
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  max-height: 200px;
  scrollbar-width: thin;
  scrollbar-color: #555 #333;
  backdrop-filter: blur(4px);
  overflow-y: auto;
  text-align: center;
  color: whitesmoke;
}

li {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  border: none;
  font-size: medium;
  background-color: #35c9c9;
  border-radius: 12px;
  text-transform: capitalize;
  padding: 5px;
  text-align: start;
  color: white;
}

li span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: black;
  font-weight: 700;
}

.bookmark-item {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.bookmark-actions {
  display: flex;
  gap: 4px;
}

.bookmark-actions button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 7px;
    border-radius: 50%;
    border: none;
    transition: 0.5s ease all;
    /* background-color: rgb(214, 86, 86); */
}

.bookmark-actions button span {
    font-size: 20px;
}

.bookmark-actions button:hover {
  background-color: rgb(175, 69, 69);
  color: white;
}

#fetch_bookmarks {
  padding: 10px;
  border-radius: 12px;
  background-color: #35c9c9;
  border: none;
}