* {
    font-family: "Stylish", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

html, body {
    background-color: #333;
    color: whitesmoke;
    overflow: hidden;
}

#header {
    height: 10vh;
    border-bottom: 1px solid #555;
    display: flex;
    align-items: center;
}

#container {
    height: 90vh;
    overflow: hidden;
    position: relative;
}

#bookmarkList {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #555 #333;
}

#no-result-message {
    display: none;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search {
    width: 90%;
    margin: 0 5px;
    padding: 10px;
    background-color: #333;
    outline: none;
    border: none;
    border: 1px solid #555;
    border-radius: 5px;
}

#fetch_bookmarks {
    padding: 10px;
    border-radius: 5px;
    background-color: #35c9c9;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: none;
    font-size: medium;
    padding: 20px 5px;
    border-bottom: 1px solid #555;
}

li a {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-weight: 400;
}

.bookmark-item a:hover {
    color: yellow;
    text-decoration: underline;
}

.bookmark-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.bookmark-item a {
    color: whitesmoke;
    text-decoration: none;
}

.bookmark-title {
    width: inherit;
    display: flex;
    flex-direction: column;
}

.bookmark-details span {
    font-size: 10px;
    color: gray;
}

.bookmark-actions button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 4px;
    border-radius: 50%;
    border: none;
    transition: 0.5s ease all;
    background-color: transparent;
    color: whitesmoke;
}

.bookmark-actions button span {
    font-size: 18px;
}

.bookmark-actions button:hover {
    color: whitesmoke;
    background-color: red;
}

#noBookmarksFound {
    display: none;
}

.bookmark-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag-container {
    display: flex;
    gap: 5px;
}

.tag {
    display: flex;
    align-items: center;
    background-color: #555;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    padding: 0 5px;
}

.tag p {
    font-size: 15px;
    user-select: none;
}